html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h1 {
  font-size: 1.5rem;
  color: #707070;
}
h2{
  font-size: 1.3rem;
  font-weight: bold;
  color: #143642;
}
.topnav {
  overflow: hidden;
  background-color: #7bea7b;
}
body {
  margin: 0;
}
label {
  display: inline-block;
  margin: 0.5em;
}
.config > label {
  width: 8em;
  text-align: right;  
}
.config > input {
  width: 10em;
  text-align: left;  
}
.content {
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
}
.card {
  background-color: #f0f0f0;
  box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 1em;
}
.toggle_card {
  font-size: 150%; 
  text-align: right;
  padding: 0px 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }  
.secondary {
  background-color: #e0e0e0;
  padding-top: 5px;
  padding-bottom: 10px;
}
.button {
  display: inline-block;
  margin: 0.25em;
  padding: 0.5em 1em;
  font-size: 150%;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #7bea7b;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px #cdcdcd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
.buttonSmall{
  font-size: 100%;   
  }
.button:disabled {
  background-color: #a0a0a0 !important;
  }
.button:hover {
  background-color: #20cf20
  }
.button:active {
    background-color: #7bea7b;
    transform: translateY(2px);
    box-shadow: 0px 0px #cdcdcd;
  }
.buttonred {
    background-color: #ff5252;
  }
.buttonred:hover {
  background-color: #ff0000
}
.togglePassword {
  padding: 1px 5px;
}
.segment {
    font-size: 2.5rem;
    color:#ff5252;
    font-weight: bold;
  }
.info {
    font-size: 1.0rem;
    color:#808080;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 20px;
  }
.table {
  margin-left: auto;
  margin-right: auto;   
  border: 0;
  padding: 30px 30px;
  }
.hide {
  display: none;
  }
